/* External styling from: https://codepen.io/manikoth/pen/NNNBYe.css
 */
/* Doodle Stage */


@import url('https://fonts.googleapis.com/css?family=Chango');

.default         
  { cursor: default; }

#stage, 
h1 {
  font-size: 100px;
  font-family: Chango;
  color: seashell;
  text-align: center;
}

#stage {
  /* Fixed Sizes   */
  height: 300px;
  width: 600px;

  position: relative;
  overflow: hidden;
}

h1{
  top: 100px;
  animation: fade;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  
}

#whale1{
  position: absolute;
  width: 100px;
  height: auto;
  top: 170px;
  
  animation: slide 11s infinite;
  animation-timing-function: ease-in-out;
  animation-timing-function: cubic-bezier(.2, .5, .7, .9);
}

#whale2{
  position: absolute;
  width: 100px;
  height: auto;
  top: 190px;
  
  animation: slide 11s infinite;
  animation-timing-function: ease-in-out;
  animation-delay: .5s;
  animation-timing-function: cubic-bezier(.2, .5, .7, .9);
}

#whale3{
  position: absolute;
  width: 100px;
  height: auto;
  top: 120px;
  
  animation: slide 11s infinite;
  animation-timing-function: ease-in-out;
  animation-delay: .7s;
  animation-timing-function: cubic-bezier(.2, .5, .7, .9);
}

#whale4{
  position: absolute;
  width: 100px;
  height: auto;
  top: 175px;
  
  animation: slide2 8s infinite;
  animation-timing-function: ease-in-out;
  animation-timing-function: cubic-bezier(.2, .5, .7, .9);
}

/* keyframes */
/*  google  */
@keyframes fade{
  
  0% {
    position: absolute;
    left: 73px;
    opacity: 0;
  }

  30%{
    position: absolute;
    left: 73px;
    opacity: 0;
  }

  100% {
    position: absolute;
    left: 73px;
    opacity: 1;
  }
}

/* whale */
@keyframes slide{
  0%{ transform: translatex(-300px);}
 100% {transform: translatex(1000px);}
}

/* whale 4*/
@keyframes slide2{
  0%{ transform: translatex(-3000px);}
 100% {transform: translatex(1000px);}
}

/* bubbles */
#bubbles { height: 100% }

#bubbles { padding: 100px 0 }
.bubble {
    width: 20px;
    height: 20px;
    background: skyblue;
    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    position: absolute;
}

.x1 {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.2;
    -webkit-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -o-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
}

.x2 {
    left: 200px;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0.5;
    -webkit-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
    -moz-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
    -o-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
}
.x3 {
    left: 350px;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.3;
    -webkit-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -o-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
}
.x4 {
    left: 470px;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0.35;
    -webkit-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -o-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
}
.x5 {
    left: 150px;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.3; 
    -webkit-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -moz-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -o-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
}
@-webkit-keyframes moveclouds { 
    0% { 
        top: 500px;
    }
    100% { 
        top: -500px;
    }
}

@-webkit-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@-moz-keyframes moveclouds {     
    0% { 
        top: 500px;
    }

    100% { 
        top: -500px;
    }
}

@-moz-keyframes sideWays {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:50px;
    }
}
@-o-keyframes moveclouds {
    0% { 
        top: 500px;
    }
    100% { 
        top: -500px;
    }
}

@-o-keyframes sideWays {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:50px;
    }
}
